<h1>Enter your Scrabble word to find out its score!</h1>
<form action='/rock_paper_scissors' method='get'>
  <div class="form-group">
    <label for="word">Choose your hand</label>
    <select class="form-control" id="hand_one" name="hand_one">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
    <!-- <select class="form-control" id="hand_two">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select> -->
  </div>
  <button type="submit" class="btn">Play!</button>
</form>
