
<div class="row">
  <div class="col-xs-6">
    <p>you played: <%= @first_hand %></p>
  </div>
  <div class="col-xs-6">
    <p>Computer played: <%= @second_hand %> </p>
  </div>
</div>
<div class="row result">
  <p><%= @result %></p>
</div>
